<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inicio</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	-->
	<style>
		.nav-link:hover {
			color: rgb(255, 0, 128);
			/* Color personalizado al pasar el cursor */
			background: rgb(0, 0, 0);
		}
	</style>
</head>

<body>

	<div class="container text-center">
		<div th:include="layout/cabecera :: cabecera">

		</div>
		<header th:include="layout/header :: header">

		</header>
		<h2 class="text-info m-3">BIENVENIDOS A PROGRAMACION VISUAL</h2>



		<div class="row">
			<div class="col-md-4">

			</div>
			<div class="col-md-4">

				<aside th:include="layout/publi :: publi">

				</aside>
			</div>
			<div class="col-md-4">

			</div>
		</div>


	</div>

	<!--
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
 -->
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
</body>
<footer th:include="layout/foter :: footer">

</footer>

</html>