<html xmlns:th="http://thymeleaf.org">

<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/index}">Inicio TP6</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/cliente/listado}">Cliente</a>

						</li>
						<li class="nav-item ">
							<a class="nav-link" th:href="@{/producto/ultimo}">Producto</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" th:href="@{/listaCompra}">Compra</a>
						</li>

					</ul>
				</div>
			</div>
		</nav>
	</header>


</body>

</html>