*{
	margin: 0;/*establece el margen de todos los elementos en 0, eliminando cualquier espacio adicional alrededor de los elementos.*/
	padding: 0;/* establece el relleno de todos los elementos en 0, lo que elimina cualquier espacio adicional dentro de los elementos.*/
	
	font-family: 'Open Sans';
}

body{
	text-align: center;
	background-image: url(../image/FONDO2.1.jpg);/*utiliza para definir una imagen de fondo*/
	background-size: cover;/* se utiliza para controlar el tamaño de la imagen de fondoCuando se establece en cover , la imagen de fondo se ajusta para cubrir completamente el área del elemento */
}